<label class="item item-input item-floating-label">
    <span class="input-label">Food Amount</span>
    <input type="number" placeholder="Food Amount" ng-model="data.amount">
</label>
<label class="item item-input item-floating-label">
    <span class="input-label">Date</span>
    <input type="date" placeholder="Date" ng-model="data.date">
</label>
<label class="item item-input item-floating-label">
    <span class="input-label">Time</span>
    <input type="time" placeholder="Time" ng-model="data.time">
</label>