<ion-view title="Login">
<ion-content>
<div class="list list-inset">
<label class="item item-input item-floatinglabel">
<span class="input-label">Email</span>
<input type="text" placeholder="Email" ngmodel="data.email">
</label>
<label class="item item-input item-floatinglabel">
<span class="input-label">Password</span>
<input type="password"
placeholder="Password" ng-model="data.password">
</label>
<button ng-click="login()" class="button
button-full button-dark">
Login
</button>
</div>
</ion-content>
</ion-view>