<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshDiaries()">
    </ion-refresher>

    <div class="card">
      <div class="item item-divider">
          A bar chart
      </div>
      <div class="item item-text-wrap">
          <canvas id="bar" class="chart chart-bar" chart-data="plotData.data" chart-labels="plotData.labels" chart-series="plotData.series" options="{showTooltips: false}"></canvas>
      </div>
    </div>
  </ion-content>
</ion-view>